{% extends 'main_app/base.html' %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <body class="text-left">
  <main class="form-signin w-100 m-auto">
    <form method="post" action="{% url 'login' %}"> 
      {% csrf_token %}
      
      <h1 class="h3 mb-3 fw-normal">Авторизироваться на сайте</h1>
  
      <div class="form-floating">
        <input type="name" class="form-control" id="floatingInput" placeholder="логин" >
        <label for="floatingInput">
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="пароль">
        <label for="floatingPassword">        
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <input type="submit" value="Вход" class="w-100 btn btn-lg btn-primary" />
      <input type="hidden" name="next" value="{{ next }}" />

    </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </main>
</body>

  
{% endblock %}